<h1>Smart Task Manager Dashboard</h1>

<h3>Welcome to Smart Task Manager</h3>

<div>
    <h4>Modules</h4>

    <ul>
        <li>User Management</li>
        <li>Task Management</li>
        <li>Comments</li>
        <li>Attachments</li>
        <li>Reports</li>
    </ul>
</div>